@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Otthoni feladat</h1>
	<div class="d-flex flex-column justify-content-center text-start">
		<p>1. ASP.NET MVC felhasználó menedzsment alkalmazás létrehozása (C#, .Net Core 6)</p>

		<p>2. Fájl alapú ‘adatbázis’, amelyben felhasználó adatok vannak tárolva (pl. pontosvesszővel tagoltan): Azonosító, Felh.név, Jelszó, Vezetéknév, Keresztnév, Szül. idő, Szül. hely, Lakhely (város)</p>

		<p>3. Első oldal: beléptetés az ‘adatbázis’ alapján (Felhasználónév / Jelszó)</p>

		<p>
			4. Második oldal: a felhasználók adatainak listázása táblázatos formában. A táblázatot töredékes keresővel lehessen filterezni (min. 3 gomb lenyomás után azok a sorok maradjanak a gridben, amelyek tartalmazzák töredékesen a beírt szöveget). A táblázatot XML formátumba lehessen menteni egy gomb segítségével. 
			A táblázat adott sorának kiválasztását követően egy módosítás gomb megnyomását követően a harmadik, detail oldalra jussunk el.
		</p>

		<p>
			5. Harmadik oldal: az előző oldalon kiválasztott felhasználó rekord adatait lehessen szerkeszteni megfelelő input mezőkkel (legyen dátumválasztás, lenyíló, maszkolt input is), majd menteni file -ba! 
			Validációt követően, sikeres mentés esetén kerüljünk vissza a második, listázó ablakra, ahol a frissített adattartalom látszódjon.
		</p>

		<p>Amennyiben lehetséges, használj Bootstrap –et és Telerik Kendo UI (trial elérhető) komponenseket.</p>

		<p>Megfelelő szervezéssel, esetlegesen saját interfészek bevezetésével dolgozz!</p>
	</div>


</div>
